#successmsg{
	margin-left: 60vw;
}
#msgDeSucesso{
	margin-left: 18vw;
}
body{
	background-color: #f1f1f1;
}
#col-principal{
	padding: 0;
}
#form{
	margin-top: 5vw;
	margin-left: 10vw;
}
input{
	height: 40px;
	width: 30rem;
	padding-left: 10px;
	border-radius: 20px;
	border: 1px solid gray;
	outline: none;
}
#criar{
	padding-left: 13rem;
	border: none;
}
#descricao{
	margin-right: 10vw;
	margin-top: -4vw;
	resize: none;
	height: 20rem;
	display: block;
	width: 30rem;
	padding-left: 10px;
	padding-bottom: 17rem;
}
@media only screen and (min-width: 1200px){
	#descricao{ float: right; }
}
@media only screen and (min-width: 500px) and (max-width: 1199px){
	#descricao{margin-top: 20px;}
}
@media only screen and (min-width: 501px){
	#cancelar{margin-left: 12.5rem;}
}
@media only screen and (max-width: 500px){
	#form{margin-left: 8px;}
	input{width: 25rem;}
	#descricao{width: 25rem; margin-top: 20px;}
	#criar{padding-left: 11rem;}
	#cancelar{margin-left: 10.5rem;}
	#sair{ margin-left: 20.5rem;}
	#successmsg {display: none;}
}
#cancelar{
	color: black;
}