.container-fluid{
	height: auto;
}
body{
	background-color: #f1f1f1;
}
#loginbutton{
	margin-left: 70vw;
}
#vagas{
	border: 1px solid #f1f1f1;
	background-color: white;
	margin: 0px 1rem 30px 1rem;
}
#vagas:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
#titulo{
	color: black;
	border-radius: 0;
	width: auto;
	height: 4.5rem;
	margin-bottom: 15px;
	width: 100%;
	font-size: 30px;
}
#descricao {
	width: auto;
	height: auto;
	padding-left: 10px;
}

#salario{
	text-align: center;
	font-size: 20px;
	margin-bottom: 2vw;
}

#buttonsadmin{
	margin: 5vw;
}
#novavaga {
	margin-right: 2rem;
	margin-left: 2rem;
}
hr{
	color: #c7c7c7;
	width: auto;
}

#h1vagas{
	text-align: center;
	margin-top: 9rem;
}
#col-principal{
	padding: 0;
}
#successmsg{
	margin-left: 44vw;
}
#loginmsg{
	margin-left: 61vw;
}
#logo{
	margin-left: 20px;
}
#col-principal{
	height: 25rem;
	margin-bottom: 5vw;
}
#coluna{
	float: left;
}
@media only screen and (max-width: 500px) {
	#login{ float: right;}
	#logo{ margin-left: 0; }
	#h1vagas{ margin-top: 7rem; }
	#successmsg {display: none;}
	#sair{ margin-left: 20.5rem;}
	#novavaga{margin-left: 15.7rem;}
}
#excluir input{
	font-size: 22px;
	width: 40px;
}
#codigo{
	width: 5rem;
}
