.container{
	background-color: white;
	height: 30rem;
	padding-top: 6vw;
}
#colunalogin{
	margin-left: 25vw;
	margin-top: 4rem;
}
@media only screen and (max-width: 500px) { 
  .container{ height: 20rem; width: 25rem;}
  #colunalogin{margin: 8rem -9px;}
} 
@media only screen and (min-width: 3000px) { 
  .container{padding-top: 6rem;}
  #colunalogin{margin-top: 15rem;}
} 
body{
	background-color: #f1f1f1;
}
input{
  height: 40px;
  border-radius: 20px;
  border: 1px solid gray;
  width: 20rem;
  outline: none;
  padding-left: 20px;
  font-size: 20px;
}
#entrar{
	padding-left: 40%;
  border-radius: 20px;
}
#cancelar{
  color: black;
  margin-right: 2px;
}